body{
    min-height: 100vh;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem 0;
    font-family: inherit;
    color: white;
    line-height: 1.5rem;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}